<ion-content class="ion-padding">

    <ion-menu side="start">

        <ion-header>
            <ion-toolbar translucent>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>

            <ion-list>
                <ion-item button detail (click)='getAllPlaces()'>
                    <ion-icon name="md-trending-up" slot="start"></ion-icon>
                    <ion-label>All Places</ion-label>
                </ion-item>
                <ion-item button detail (click)='getMostPopular()'>
                    <ion-icon name="md-trending-up" slot="start"></ion-icon>
                    <ion-label>Most Popular</ion-label>
                </ion-item>
                <ion-item button detail (click)='getVisited()'>
                    <ion-icon name="md-done-all" slot="start"></ion-icon>
                    <ion-label>Visited</ion-label>
                </ion-item>

                <ion-item button detail (click)='getSaved()'>
                    <ion-icon name="ios-bookmark" slot="start"></ion-icon>
                    <ion-label>Saved</ion-label>
                </ion-item>

                <ion-item button detail (click)='getNear()'>
                    <ion-icon name="ios-locate" slot="start"></ion-icon>
                    <ion-label>Near to me</ion-label>
                </ion-item>

            </ion-list>

        </ion-content>
    </ion-menu>




    <div class="ion-page" main>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>Home</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
            <h4>{{wherIam}}</h4>


            <!-- all places -->
            <div *ngFor="let item of items$   | async json">
                <ion-card *ngIf="allplaces">
                    <img src={{item.payload.val().url}} />
                    <ion-card-header>
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title>{{item.payload.val().name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{item.payload.val().description}}
                    </ion-card-content>
                    <ion-button expand="block" routerLink="/more-info">More Information</ion-button>
                    <ion-button expand="block" (click)="addToSaved(item.payload.val().name)">Saved</ion-button>
                    <ion-button expand="block" (click)="addToVisited(item.payload.val().name)">Visited</ion-button>
                </ion-card>
            </div>
            <!-- Visted Places places -->
            <div *ngFor="let place of visitedplaces   ">
                <div *ngFor="let item of items$   | async json">
                    <ion-card *ngIf="visited && (item.payload.val().name == place) ">
                        <img src={{item.payload.val().url}} />
                        <ion-card-header>
                            <ion-card-subtitle>Destination</ion-card-subtitle>
                            <ion-card-title>{{item.payload.val().name}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            {{item.payload.val().description}}
                        </ion-card-content>
                        <ion-button expand="block" routerLink="/more-info">More Information</ion-button>
                    </ion-card>
                </div>
            </div>
             <!-- Most popular places -->
             <div *ngFor="let place of arrayVisit   ">
                <div *ngFor="let item of items$   | async json">
                    <ion-card *ngIf="mostPop && (item.payload.val().visited != 0) &&(item.payload.val().visited == place) ">
                        <img src={{item.payload.val().url}} />
                        <ion-card-header>
                            <ion-card-subtitle>Destination</ion-card-subtitle>
                            <ion-card-title>{{item.payload.val().name}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            {{item.payload.val().description}}
                        </ion-card-content>
                        <ion-button expand="block" routerLink="/more-info">More Information</ion-button>
                    </ion-card>
                </div>
            </div>

            <!-- saved places -->
            <div *ngFor="let place of savedplaces   ">
                <div *ngFor="let item of items$   | async json">
                    <ion-card *ngIf="saved  && (item.payload.val().name == place)">
                        <img src="{{item.payload.val().url}} " />
                        <ion-card-header>
                            <ion-card-subtitle>Destination</ion-card-subtitle>
                            <ion-card-title>{{item.payload.val().name}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            {{item.payload.val().description}}
                        </ion-card-content>
                        <ion-button expand="block" routerLink="/more-info">More Information</ion-button>                         
                        <ion-button expand="block" (click)="deleteSaved(item.payload.val().name)">Remove from saved </ion-button>

                    </ion-card>
                </div>
            </div>

                <!-- near to me places places -->
    <div *ngFor="let mark of markers">
        <div *ngFor="let item of items$   | async json">
            <ion-card *ngIf="(item.payload.val().location == mark.key) && near">
                <img src="{{item.payload.val().url}} " />
                <ion-card-header>
                    <ion-card-subtitle>Destination</ion-card-subtitle>
                    <ion-card-title>{{item.payload.val().name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    {{item.payload.val().description}}
                </ion-card-content>
                <ion-button expand="block" routerLink="/more-info">More Information</ion-button>
                <ion-button expand="block" (click)="addToSaved()">Saved</ion-button>
                <ion-button expand="block" (click)="addToVisited()">Visited</ion-button>
            </ion-card>
        </div>
    </div>

        </ion-content>
    </div>