<ion-content>

  <form [formGroup]="directionForm" >
    <ion-item>
      <ion-label position="floating">Destination</ion-label>
      <ion-input formControlName="destination"></ion-input>
    </ion-item>
    <ion-button (click) = "calculateAndDisplayRoute()" type="submit" [disabled]="!directionForm.valid">Get Direction</ion-button>
    <ion-button (click) = "calculateAndDisplayRouteN()"  type="submit" [disabled]="!directionForm.valid">Get waypoint Direction </ion-button>
  </form>



<div #gmap class="map" style="width:100%;height:100%"></div>
</ion-content>
