<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>More Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-slides>
  <ion-slide>
    <img src="http://placehold.it/300x300/ff0000/ffffff" alt="">
  </ion-slide>
  <ion-slide>
    <img src="http://placehold.it/300x300/ffcc33/ffffff" alt="">
  </ion-slide>
  <ion-slide>
    <img src="http://placehold.it/300x300/336699/ffffff" alt="">
  </ion-slide>
  <ion-slide>
    <img src="http://placehold.it/300x300/33ccff/ffffff" alt="">
  </ion-slide>
</ion-slides>

<ion-content class="ion-padding">
  <ion-text>
    <h2>History : </h2>
    <p>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.                  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </p>
  </ion-text>
  <ion-button expand="block">See it in the Map</ion-button>
</ion-content>
</ion-content>
